@use '../abstracts' as *;

.menu {
  display: flex;

  @include breakpoint-down(medium) {
    @include dropdown;
    width: min(100%, rem(360));
    flex-direction: column;
    align-items: center;
    text-align: center;

    .nav.active & {
      @include dropdown-active;
    }

    .nav.closing & {
      @include dropdown-closing;
    }
  }

  @include breakpoint(medium) {
    margin-inline: auto rem(32);
  }

  @include breakpoint(large) {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-inline: rem(64) 0;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(32);
    padding-block-end: rem(24);
    border-block-end: rem(1) solid hsl(240, 2%, 79%, 0.7);

    @include breakpoint(medium) {
      flex-direction: row;
      border-block-end: none;
      padding-block-end: 0;
    }
  }

  &__entry {
    @extend %flex-column-Xcenter;
    gap: rem(10);
    margin-block-start: rem(16);

    @include breakpoint(medium) {
      margin-block-start: 0;

      @include breakpoint-down(large) {
        @include dropdown;

        .nav.active & {
          @include dropdown-active;
        }

        .nav.closing & {
          @include dropdown-closing;
        }
      }
    }

    @include breakpoint(large) {
      flex-direction: row;
    }
  }
}
