@use '../abstracts' as *;

.nav {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__toggle {
    background-color: transparent;

    @include breakpoint-down(medium) {
      &.toggle-medium-device {
        display: none;
      }
    }

    @include breakpoint(medium) {
      &.toggle-small-device {
        display: none;
      }
    }

    @include breakpoint(large) {
      display: none;
    }

    .icon {
      width: rem(32);
      height: rem(24);
      display: block;
      background: url('../images/icon-hamburger.svg') center / contain no-repeat;
      pointer-events: none;

      .nav.active & {
        background-image: url('../images/icon-close.svg');
      }
    }
  }
}
